@import url(http://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400italic);
* {
  margin: 0;
  padding: 0; }

body {
  width: 1650px;
  height: 1275px;
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 16px;
  text-align: center;
  background: url("http://bdiportal.local/assets/images/BD-Certificate.jpg") no-repeat; }

.certificate-background {
  position: absolute;
  z-index: -100;
  left: 0;
  top: 0; }

.certificate_wrapper {
  width: 100%;
  text-align: center;
  position: absolute; }

.text {
  position: absolute;
  top: 375px;
  width: 100%; }
.text p {
  margin-bottom: 10px; }

.p1 {
  font-size: 1.5em;
  font-weight: 100; }

.name {
  font-size: 3em;
  font-weight: bold; }

.dealer_name {
  font-size: 2em;
  font-weight: bold; }

.verbage {
  font-size: 1.5em;
  margin-top: 20px; }

.john_date {
  position: absolute;
  top: 1065px;
  left: 300px; }

.vern_date {
  position: absolute;
  top: 1065px;
  left: 1150px; }

@media print {
  @page {
    size: landscape; } }
