.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.alert-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: none; }

.error{
  color: red;
}
input.error{
  background: #ff7f7f;
}

.test_actions {
  text-align: center;
  padding: 20px 0; }

.test_actions .btn {
  margin: 0 10px; }

.videoContainer {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px; }

video {
  width: 100%; }

.radio {
  margin-left: 15px; }

.cert-block {
  margin-left: 20px;
  background: #ffffff;
  padding: 10px; }

.tech-block {
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 10px; }

.knowledgebase h3 {
  color: #999999;
  border-bottom: dotted #999999 1px;
  text-align: center; }
.knowledgebase .category {
  width: 48%;
  float: left;
  margin: 0 1%; }
.knowledgebase .category:nth-child(2n+1) {
  clear: both; }
.knowledgebase .preview img {
  width: 100%; }
.knowledgebase .document {
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: dotted #999999 1px; }

.preview span {
  font-size: 4em; }
