@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
.wrap {
  width: 600px;
  margin: 0 auto; }

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #f5f5f5;
  background-color: #d7cc00; }

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-left: 18px;
  margin-top: 18px;
  text-align: center;
  line-height: 60px;
  font-size: 16px; }

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: -webkit-linear-gradient(0deg, #f5f5f5 50%, transparent 50%, transparent), -webkit-linear-gradient(0deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(90deg, #f5f5f5 50%, transparent 50%, transparent), linear-gradient(90deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-5 {
  background-image: -webkit-linear-gradient(0deg, #f5f5f5 50%, transparent 50%, transparent), -webkit-linear-gradient(342deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(90deg, #f5f5f5 50%, transparent 50%, transparent), linear-gradient(108deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-10 {
  background-image: -webkit-linear-gradient(0deg, #f5f5f5 50%, transparent 50%, transparent), -webkit-linear-gradient(324deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(90deg, #f5f5f5 50%, transparent 50%, transparent), linear-gradient(126deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-15 {
  background-image: -webkit-linear-gradient(0deg, #f5f5f5 50%, transparent 50%, transparent), -webkit-linear-gradient(306deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(90deg, #f5f5f5 50%, transparent 50%, transparent), linear-gradient(144deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-20 {
  background-image: -webkit-linear-gradient(0deg, #f5f5f5 50%, transparent 50%, transparent), -webkit-linear-gradient(288deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(90deg, #f5f5f5 50%, transparent 50%, transparent), linear-gradient(162deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-25 {
  background-image: -webkit-linear-gradient(0deg, #f5f5f5 50%, transparent 50%, transparent), -webkit-linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(90deg, #f5f5f5 50%, transparent 50%, transparent), linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-30 {
  background-image: -webkit-linear-gradient(0deg, #f5f5f5 50%, transparent 50%, transparent), -webkit-linear-gradient(252deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(90deg, #f5f5f5 50%, transparent 50%, transparent), linear-gradient(198deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-35 {
  background-image: -webkit-linear-gradient(0deg, #f5f5f5 50%, transparent 50%, transparent), -webkit-linear-gradient(234deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(90deg, #f5f5f5 50%, transparent 50%, transparent), linear-gradient(216deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-40 {
  background-image: -webkit-linear-gradient(0deg, #f5f5f5 50%, transparent 50%, transparent), -webkit-linear-gradient(216deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(90deg, #f5f5f5 50%, transparent 50%, transparent), linear-gradient(234deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-45 {
  background-image: -webkit-linear-gradient(0deg, #f5f5f5 50%, transparent 50%, transparent), -webkit-linear-gradient(198deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(90deg, #f5f5f5 50%, transparent 50%, transparent), linear-gradient(252deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-50 {
  background-image: -webkit-linear-gradient(180deg, #d7cc00 50%, transparent 50%, transparent), -webkit-linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(-90deg, #d7cc00 50%, transparent 50%, transparent), linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-55 {
  background-image: -webkit-linear-gradient(162deg, #d7cc00 50%, transparent 50%, transparent), -webkit-linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(-72deg, #d7cc00 50%, transparent 50%, transparent), linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-60 {
  background-image: -webkit-linear-gradient(144deg, #d7cc00 50%, transparent 50%, transparent), -webkit-linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(-54deg, #d7cc00 50%, transparent 50%, transparent), linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-65 {
  background-image: -webkit-linear-gradient(126deg, #d7cc00 50%, transparent 50%, transparent), -webkit-linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(-36deg, #d7cc00 50%, transparent 50%, transparent), linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-70 {
  background-image: -webkit-linear-gradient(108deg, #d7cc00 50%, transparent 50%, transparent), -webkit-linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(-18deg, #d7cc00 50%, transparent 50%, transparent), linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-75 {
  background-image: -webkit-linear-gradient(90deg, #d7cc00 50%, transparent 50%, transparent), -webkit-linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(0deg, #d7cc00 50%, transparent 50%, transparent), linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-80 {
  background-image: -webkit-linear-gradient(72deg, #d7cc00 50%, transparent 50%, transparent), -webkit-linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(18deg, #d7cc00 50%, transparent 50%, transparent), linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-85 {
  background-image: -webkit-linear-gradient(54deg, #d7cc00 50%, transparent 50%, transparent), -webkit-linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(36deg, #d7cc00 50%, transparent 50%, transparent), linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-90 {
  background-image: -webkit-linear-gradient(36deg, #d7cc00 50%, transparent 50%, transparent), -webkit-linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(54deg, #d7cc00 50%, transparent 50%, transparent), linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-95 {
  background-image: -webkit-linear-gradient(18deg, #d7cc00 50%, transparent 50%, transparent), -webkit-linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(72deg, #d7cc00 50%, transparent 50%, transparent), linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }

.progress-100 {
  background-image: -webkit-linear-gradient(0deg, #d7cc00 50%, transparent 50%, transparent), -webkit-linear-gradient(180deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5);
  background-image: linear-gradient(90deg, #d7cc00 50%, transparent 50%, transparent), linear-gradient(270deg, #d7cc00 50%, #f5f5f5 50%, #f5f5f5); }
